html {
  background: url(../images/mariokarttour.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* * {
    font-family: "Super Mario Bros Alphabet";
} */

img {
  width: 30px;
  height: auto;
}
* {
  font-family: "Super Mario Bros Alphabet";
}
